/* Global */
body{
    margin: 0px;
    color: #ADCAEB;
}
h1{
    text-align: center;
}

.hidden{
    display: none;
}


/* Main */
#play_area{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    border: 10px, solid, black;
    padding: 5px;
}

#rules_area{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    border: 10px, solid, black;
    padding: 5px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.grid_square{
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

button{
    text-align: center;
    font-size: 30px;
}